body{
    font-family: 'Titillium Web', sans-serif;

}

.form-control {
    background: #273a71;
    border: #273a71;
    color: white;
    font-size: 20px;
}

.form-control:focus{
    background-color: #273a71;
    color: white;
}

.form-control:default{
    color:white;
}

.form-control::placeholder {
    color: white;

}

.spacer {
    height: 5px;
    background: rgba(0, 0, 0, 0.4);

}

#welcome-outer {
    background: #87509c;

    color: white;
}


#button-workwithus {
    background-color: orange;
    box-shadow: 0 6px 0 darkorange;
    padding: 15px;

}

#button-sendmessage {
    background-color: #30bae7;
    box-shadow: 0 6px 0 #29a0c7;
    padding: 15px;
}


.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover{
    color:floralwhite;
}

.nav-link.active{

    background-color: rgba(0, 0, 0, 0.2) !important;

}

#services-outer{
    background-color: #17c2a4;
}

#team-outer {
    background-color: #e7f1f8;

}

#skills-outer {
    background-color: #ffffff;

}

#portfolio-outer {
    background-color: #ffdd99;

}

#testimonials-outer {
    background-color: #d74680;
}

#getintouch-outer {
    background-color: #3c5499;
    color: white;

}

#social a {
    font-size: 28px;
}




